body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #8fd0d0;
}
h1 {
  text-align: center;
  padding: 5px;
  font-family: monospace;
  line-height: 40px;
}
h2 {
  color: #252828;
  font-size: 24px;
  font-weight: 100;
  height: 27px;
  line-height: 29px;
  text-align: left;
  margin-bottom: 2;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #494a4a;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: #4360e5;
}
.btn {
  background-color: #05a1a1;
  border: 1px solid #05a2a2;
}
.btn hover {
  background-color: #016363;
}
.weather-app-wrapper {
  margin: 30px auto;
  max-width: 700px;
}

.overview {
  margin-bottom: 30px;
}
.weather-app {
  border: 1.5px solid #037878;
  border-radius: 10px;
  padding: 30px 30px;
}
.weather-forecast {
  margin-top: 30px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #303434;
}
.weather-forecast-temp {
  font-size: 13px;
  color: #303434;
}
.weather-forecast-temp-low {
  opacity: 0.7;
}
.weather-temperature img {
  margin-right: 8px;
  height: 80px;
  width: 80px;
}
.weather-temperature strong {
  font-size: 65px;
  font-weight: 150;
  line-height: 1;
  margin-top: 5px;
}
.weather-temperature .units {
  font-size: 16px;
  margin-top: 5px;
}
.weather-temperature .active {
  color: #5b5d5d;
  cursor: default;
}
.overview {
  margin-bottom: 20px;
}
